parameters:
    database_host: localhost
    database_name: routanglangquan
    database_user: root
    database_password: null

    mailer_user: -
    mailer_password: -

    secret: kqsdljosidjaohfubsbdoqoziidjoiqjsuhveviosn
    user_drive_basedir: C:\\Users\\GREGORY\\Downloads\\tmp